body {
  font-family: Ariel, sans-serif;
  background-color: #f4f4f4;
}

img {
  max-width: 100%; /* Set maximum width to 100% of the container */
  height: auto; /* Adjust height proportionally */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
  background-color: lightpink;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: white;
  margin: 0 10px;
}